<!DOCTYPE html>
<html>
 
<head>
    <title>Passport with Sequelize</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="../CSS/style.css">
<script type="text/javascript" src="../JavaScript/Javascript.js"></script>

<script
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
 
<body>
	 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color:#D2B41C"><u>Admin'sClassHub</u></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/adminCheckin" id="att">Attendance/Assignment</a></li>
      <li><a href="/tutorial">Find Tutorial</a></li>
      <li><a href="/note">Announcments</a></li>
      <li><a href="/logout">LogOut</a></li>
    </ul>
  </div>
</nav>
	 <div class="container">
        <div class="row" >
      <div class="jumbotron jumbo"  > 

        <div style="text-align:center">
        <h1 class="classhub" style="color:#D2B41C"><u>ClassHub</u></h1><br><br>
    <h2 style="color:white"><u>Dashboard</u></h2>
    <div id="dynamic">
    <h3 style="color:white">Welcome to the Admin's Page!</h3>
    <div id="assignments">
    </div>
</div>
</div>
</div>
</body>
<script type="text/javascript">
   // $(document).ready(function(){
   //      $("#dynamic").load("home.html");
   //      $('a').click(function(event){
   //     event.preventDefault();
   //     var page=$(this).attr("href");
   //     $("#dynamic").load(page);
   //     return false;
   //     });
   //     });

  $.get('/assignments', function(results) {
    // $('#assignments').html(results)
    console.log(results);

    // for (var i = 0; i < results.length; i++) {
    //   var elemntoflist = $('<div>');
    //   var p = $('<p>')
    //   p.text(results[i].)

    //   $('#assignments').append(elementoflist)
    // }
  })
</script>
 
</html>