<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Check In Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

 <script
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="CSS/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
  <style type="text/css">
  p{
  	font-size: 20px;
  }
  .center{
  	text-align: center;
  }
  .btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.head{
	background-color: rgba(114, 76, 38, 0.8);
	color:white;
}
  </style>

</head>
<body>
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/signin" style="color:#D2B41C"><u>ClassHub</u></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/checkin" id="att">Attendance/Assignment</a></li>
      <li><a href="/tutorial">Find Tutorial</a></li>
      <li><a href="/note">Announcments</a></li>
      <li><a href="/logout">LogOut</a></li>
    </ul>
  </div>
</nav>
	<div class="logo">
  </div>

  <div class="band">
  </div>

  <div class="outerbox">
	<div class="container center">
	
	<div class="col-sm-12 center" style="background-color:black" >
		<div class="head" >
		<h2 class="center">Student Attendance and assignment Portal</h2>
		<h2>Week 1 (25th Sept -29th Sept)</h2>
	    </div> 
	<div class="col-sm-10 panel panel-default atDiv" id="092517_div">
		<div class="col-sm-8">
			<p>Date - 25th September 2017</p><br>
			<form id="assignment" name="assignment" method="post" action="/assignment/submit">

				<input type="text" name="assignment" size="45" placeholder="link of assignment"><br><br>
			<button class="btn btn-danger"  id="assignment" >Submit Assignment</button>
			</form>
			
		</div>
		<div class="col-sm-2 ">	
			Click here to checkIn<br>	
			<button type="button" class="btn btn-success btn-circle btn-lg checkin" id="checkin"><i class="glyphicon glyphicon-ok"></i></button>
		</div>	
	</div>

	<div class="col-sm-10 panel panel-default atDiv" id="092617_div">
		<div class="col-sm-8">
			<p>Date - 26th September 2017</p><br>
			<form id="assignment" name="assignment" method="post" action="/assignment/submit">
				<input type="text" name="assignment" size="45" placeholder="link of assignment"><br><br>
			<button class="btn btn-danger"  id="assignment">Submit Assignment</button>
			</form>
		</div>
		<div class="col-sm-2 ">	
		Click here to checkIn<br>		
			<button type="button" class="btn btn-success btn-circle btn-lg checkin" id="checkin"><i class="glyphicon glyphicon-ok"></i></button>
		</div>	
	</div>
	<div class="col-sm-10 panel panel-default atDiv" id="092717_div">
		<div class="col-sm-8">	
			<p>Date - 27th September 2017</p>
			<form id="assignment" name="assignment" method="post" action="/assignment/submit">
				<input type="text" name="assignment" size="45" placeholder="link of assignment"><br><br>
			<button class="btn btn-danger"  id="assignment">Submit Assignment</button>
			</form>
		</div>
		<div class="col-sm-2 ">	
		Click here to checkIn<br>		
			<button type="button" class="btn btn-success btn-circle btn-lg checkin" id="checkin"><i class="glyphicon glyphicon-ok"></i></button>
		</div>	
	</div>
	<div class="col-sm-10 panel panel-default atDiv" id="092817_div">
		<div class="col-sm-8">
			<p>Date - 28th September 2017</p>
			<form id="assignment" name="assignment" method="post" action="/assignment/submit">
				<input type="text" name="assignment" size="45" placeholder="link of assignment"><br><br>
			<button class="btn btn-danger"  id="assignment">Submit Assignment</button>
			</form>
		</div>
		<div class="col-sm-2 ">	
		Click here to checkIn<br>		
			<button type="button" class="btn btn-success btn-circle btn-lg checkin" id="checkin"><i class="glyphicon glyphicon-ok"></i></button>
		</div>	
	</div>
	<div class="col-sm-10 panel panel-default atDiv" id="092917_div">
		<div class="col-sm-8">
			<p>Date - 29th September 2017</p>
			<form id="assignment" name="assignment" method="post" action="/assignment/submit">
				<input type="text" size="45" name="assignment" placeholder="link of assignment"><br><br>
			<button class="btn btn-danger" id="assignment-submit">Submit Assignment</button>
			</form>
		</div>
		<div class="col-sm-2 ">	
		     Click here to checkIn<br>	
			<button type="button" class="btn btn-success btn-circle btn-lg checkin" id="checkin"><i class="glyphicon glyphicon-ok"></i></button>
		</div>	
	</div>
	<div class="col-sm-10 panel panel-default atDiv" id="100217_div">
		<div class="col-sm-8">
			<p>Date - 2nd October 2017</p>
			<form id="assignment" name="assignment" method="post" action="/assignment/submit">
				<input type="text" size="45" name="assignment" placeholder="link of assignment"><br><br>
			<button class="btn btn-danger" id="assignment-submit">Submit Assignment</button>
			</form>
		</div>
		<div class="col-sm-2 ">	
		     Click here to checkIn<br>	
			<button type="button" class="btn btn-success btn-circle btn-lg checkin" id="checkin"><i class="glyphicon glyphicon-ok"></i></button>
		</div>	
	</div>
</div>
</div>
</div>
<script type="text/javascript">
$( document ).ready(function() {
	$(".checkin").click(function(){
		alert("present");
		
		$.post('present', function(){
			alert('sent');
		}).done(function() {
			alert('done');
		}).fail(function(err) {
			alert('error: ' + err);
		})


	});

	var currentDate = moment().format("MMDDYY");
	$.each($('.atDiv'), function(index, div) {
		if(div.id != currentDate + '_div') {
			
			$(div).css({ opacity: 0.5 });
		}
	});


    
})

	

	// $("#assignment-submit").click(function(){
	// 	alert("submitted");
	// 	$.post(req.body.assignment, function(){
	// 		alert('sent');
	// 	}).done(function() {
	// 		alert('done');
	// 	}).fail(function(err) {
	// 		alert('error: ' + err);
	// 	})


	// });


</script>
</body>
</html>