<!DOCTYPE html>
<html lang="en-us">
<html>

<head>
  <meta charset="UTF-8">
  <title>classHUB</title>
  <link rel="stylesheet" type="text/css" href="CSS/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

 <script
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="CSS/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
  
</head>

<body>

  <div class="logo">
  </div>

  <div class="band">
  </div>

  <div class="outerbox">
    <div class="box login">
      <h1>Login to the ClassHub</h1>
        <br><br>

 
<!--        <form id="signin" name="signin" method="post" action="/signin">
 -->          <a href="/signin"><button class="btn btn-success btn-circle btn-lg checkin" type="submit" value="Sign In">
            Click here to Sign In
          </button></a>

          <!-- <input class="btnlog" type="submit" value="Sign In"/> -->
<!--         </form>
 -->
      <!-- <svg id="donutnav1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 137.97 160.23"><g>
      <g><circle id="pauselight" class="cls-1" cx="68.98" cy="118.86" r="19.46"  type="submit" value="Sign In"/>
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="logModal">Open Modal</button>
      </a>
      </svg> -->

    </div>

    <div class="box register">
      <h1><u>Sign Up</u></h1><br><br><br>
       <a href="/signup"><button class="btn btn-success btn-circle btn-lg checkin" type="submit" value="Sign Up">
            Click here to Sign up
          </button></a>


      <!-- Trigger/Open The Modal -->
      <!-- <svg id="donutnav2" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 137.97 160.23">
        <g>
        <!-- <a xlink:href="../modal.html" target="_self" value="Sign Up"> -->
          <!--<circle id="pauselight" class="cls-1" cx="68.98" cy="118.86" r="19.46"/>
          <a href=""></a>
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="regModal">Open Modal</button>
        </g>
      </svg> -->

    </div>
  </div>
  <!-- <div id="modals" style="position:fixed; width:100%; height:100%; z-index:1000">
    <div id="overlay" style="">

    </div>
    <!-- The Modal -->
    <!--<div id="regModal" class="modalreg" style="display:none">

      <!-- Modal for registration content -->
      <!--<div class="modal-registration">
        <span class="close">&times;</span>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Sign Up Here <h2></div>
            <div class="modal-body">
              <form action="" <form id="signup" name="signup" method="post" action="/signup">
                <label for="firstname">First Name</label><br>
                <input name="firstname" type="text" /><br><br>
                <label for="lastname">Last Name</label><br>
                <input name="lastname" type="text" /><br><br>
                <label for="email">Email Address</label><br>
                <input class="text" name="email" type="email" /><br><br>
                <label for="about">About Me</label><br>
                <input name="about" type="text" /><br><br>
                <label for="code"> Class Code </label><br>
                <input name="code" type="text" /><br><br>
                <label for="password"> Password </label><br>
                <input name="password" type="password" /><br><br>
                <input class="btnreg" type="submit" value="Sign Up">
              </form>
            </div>
          </div>
        </div>
        <!-- <button type="button" class="cls-1" data-toggle="modal" data-target="#myModalacc">Assistance</button> -->
     <!-- </div>
    <div id="logModal" class="modallog" style="display:none">

      <!-- Modal for registration content -->
      <!--<div class="modal-registration">
        <span class="close">&times;</span>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Sign In Here <h2></div>
          <div class="modal-body">
            <form action="" <form id="signup" name="signup" method="post" action="/signin">
              <label for="email">Email Address</label><br>
              <input class="text" name="email" type="email" /><br><br>
              <label for="password"> Password </label><br>
              <input name="password" type="password" /><br><br>
              <input class="btnlog" type="submit" value="Sign In"/>
            </form>
          </div>
        </div>
      </div>
      <!-- <button type="button" class="cls-1" data-toggle="modal" data-target="#myModalacc">Assistance</button> -->
    </div>
</div> -->

<script type="text/javascript" src="../javascript/javascript.js"></script>

</body>

</html>
