<form id="note" name="note" method="post" action="/note">
        <label for="title">Title</label>
        <input class="text" id="title" name="title" type="text" />
        <label for="body">Note</label>
        <input name="body" id="body" type="body" />
        <input class="btn" id="note-submit" type="submit" value="Submit" />
    </form>