<!-- <!DOCTYPE html>
<html>
 
<head>
    <title>Signup Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="./public/CSS/style.css">
<script type="text/javascript" src="./public/JavaScript/Javascript.js"></script>

<script
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
 
<body>
    
    <div class="container">
        <div class="row" >
      <div class="jumbotron jumbo" style="text-align:center" > 

        <div class="main">
        <h1 class="classhub" style="color:#D2B41C"><u>ClassHub</u></h1><br><br>
      
        <div class="row" id="student" >
      
        <h3 style="color:blue"><u>Sign up Page</u></h3>
        <p>Sign up to the ClassHub system here. </p>
    <form id="signup" name="signup" method="post" action="/signup">
        <label for="email">Email Address</label><br>
        <input class="text" name="email" type="email" /><br>
        <label for="firstname">Firstname</label><br>
        <input name="firstname" type="text" /><br>
        <label for="lastname">Lastname</label><br>
        <input name="lastname" type="text" /><br>
        <label for="password">Password</label><br>
        <input name="password" type="password" /><br>
        <input class="btn" type="submit" value="Sign Up" />
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>

</body>
 
</html>


 -->

 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="../CSS/style.css">
<script type="text/javascript" src="../JavaScript/Javascript.js"></script>

<script
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    
       
        
        
        <div class="logo">
  </div>

  <div class="band">
  </div>

  <div class="outerbox">
    <div class="box register">
      <br><br>
    <h3 style="color:white"><u>Sign up to the ClassHub system here.</u> </h3><br><br>
        
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModalacc">Sign up</button>
        </div>
      
    </div>    
        </div>
    </div>
</div>
  
  
  
  <!-- Login modal-->
    <div id="myModalacc" class="modal fade "  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header modal-color" >
        <button type="button" class="close modal-color" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login </h4>
      </div>
      <div class="modal-body">
      
  <form id="signup" name="signup" method="post" action="/signup">
        <label for="email">Email Address</label><br>
        <input class="text" name="email" type="email" /><br>
        <label for="firstname">Firstname</label><br>
        <input name="firstname" type="text" /><br>
        <label for="lastname">Lastname</label><br>
        <input name="lastname" type="text" /><br>
        <label for="password">Password</label><br>
        <input name="password" type="password" /><br>
        <label for="code">Class Code</label><br>
        <input name="code" type="text" /><br>
         <label for="about">About</label><br>
        <input name="about" type="text" /><br>
        <input class="btn" type="submit" value="Sign Up" />
    </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
    
<!-- Account Request-->


      
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>