<!DOCTYPE html>
<html lang="en-us">
<html>

<head>
  <meta charset="UTF-8">
  <title>classHUB</title>
  <link rel="stylesheet" type="text/css" href="CSS/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="../CSS/style.css">
<script type="text/javascript" src="../JavaScript/Javascript.js"></script>

<script
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  
</head>

<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color:#D2B41C"><u>ClassHub</u></a>

    </div>
    <ul class="nav navbar-nav">
      <li><a href="/checkin" id="att">Attendance/Assignment</a></li>
      <li><a href="/tutorial">Find Tutorial</a></li>
      <li><a href="/note">Announcments</a></li>
      <li><a href="/logout">LogOut</a></li>
    </ul>
  </div>
</nav>


  <div class="logo">
  </div>
 <!-- <h1 style="text-align:center; color:white"><u>Find Tutorial</u></h1> -->
  <div class="band">
  </div>
  <div>
  <div style="text-align:center; background-color:white;width:500px;  margin:0 auto; padding-top:15px; padding-bottom:15px" >
  <form  id="searchForm" name="search">
    
    <label for="search">Enter name of tutorial</label><br><br>
    <input class="text" name="search" id="search" type="text" /><br><br>
    <input  type="submit" class="btn btn-success btn-lg" value="Submit" id="submit"/>
    
  </form>
</div>
<div>
<div class="results" id="results">
  
</div>
<script type="text/javascript">
  function search(q){
   // alert('clear result searching for ' + q);
    $("#results").html("");
    //$("#buttons").html("");
    $.get(
       "https://www.googleapis.com/youtube/v3/search",{
        part:'snippet, id',
        q:q,
        type:'video',
        key:'AIzaSyDkQIZ-dD77nvlXI1y8rZnqudKtu3oTbAc'
       },
       function(data){
         var nextPageToken=data.nextPageToken;
         var prevPAgeToken= data.prevPAgeToken;
         console.log(data);
         $.each(data.items, function(i,item){
            var output = getOutput(item);
            $("#results").prepend(output);
         });
       }
      
      );

}
function getOutput(item){
  var videoId = item.id.videoId;
  var title = item.snippet.title;
  var description = item.snippet.description;
  var thumb = item.snippet.thumbnails.high.url;
  var channelTitle = item.snippet.channelTitle;
  var videoDate = item.snippet.videoDate;
  // var output = '<li>'+
  // '<div class="list-left">'+
  // '<img src="'+thumb+'">'+
  // '</div>'+
  // '<div class="list-right">'+
  // '<h3>'+title+'</h3>'
  // '<small>by <span class="cTitle">'+ channelTitle+'</span> on'
  // + videoDate+'</small>'+'<p>'+ description+'</p>'+
  // '</div>'+'</li>'+'<div class="clearfix"></div>'+'';
  var output = '<iframe id="player" type="text/html" width="640" height="390"'
      + 'src="http://www.youtube.com/embed/' + videoId + '?enablejsapi=1&origin=http://localhost"'
      + 'frameborder="0"></iframe>';
  return output;

}

  
  $("#submit").on("click",function(e){
    e.preventDefault();
    var q= $("#search").val();
    //alert(q + "clicked");




    
search(q);
  })
// var map;
// var infowindow;

// var request;
// var service;
// var markers = [];
// function initialize() {
//         var center = {lat: 30.5561932, lng: -97.8083887};

//         map = new google.maps.Map(document.getElementById('map'), {
//           center: center,
//           zoom: 13
//         });
//          request={
//           location:center,
//           radius:8047,
//           types:['dance studios']
//         };
//         infowindow= new google.maps.InfoWindow();
//          service= new google.maps.places.PlacesService(map);
//         service.nearbySearch(request,callback);

//         google.maps.event.addListener(map, 'rightclick', function(event) {
//           map.setCenter(event.latLng)
//           clearResults(markers)
//            request={
//           location:event.latLng,
//           radius:8047,
//           types:['dance studios']
//         };
//         });
//       }
//       function callback(results,status){
//         if(status ==  google.maps.places.PlacesServiceStatus.OK){
//           for (var i = 0; i <results.length; i++) {
            
//           markers.push(createMarker(results[i]));
//         }
//       }
//     }
//     function createMarker(place){
//       var placeLoc = place.geometry.location;
//       var marker = new google.maps.Marker({
//         map:map,
//         position: place.geometry.location
//       });
//       google.maps.event.addListener(marker, 'click', function() {
//           infowindow.setContent(place.name);
//           infowindow.open(map, this);
//         });
//       return marker;
//     }
//     function clearResults(markers){
//       for (var m in markers){
//         markers[m].setMap(null)
//       }
//       markers=[]
//     }
// google.maps.event.addDomListener(window,'load',initialize);
  </script>
  </body>
  </html>
  