@import url('https://fonts.googleapis.com/css?family=Raleway');

/*.main {
  
}*/

.centered {
  text-align: center;
}

body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("../IMG/stair2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

.jumbo {
  background: rgba(5, 5, 5, 0.71) !important;
  color: white;
}

.modal-color {
  background: rgba(28, 116, 216, 0.36) !important;
}

.classhub {
  font-family: "Adobe Fangsong Std R";
  font-size: 15;
  color: orange;
}


/*.div{
	padding-top: 10%;
	padding-bottom: 10%;
}*/

.logo {
  width: 308px;
  height: 150px;
  /*background-color: rgba(0, 0, 0, 0.8);*/
  margin: 50px auto;
  background-image: url("../IMG/logo2.png");
}

.logosmall {
  width: 100%;
  height: 125px;

  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("../IMG/logo3.png");
  background-repeat: no-repeat;
}

.outerbox {
  /*width: 650px;*/
  /*height: 300px;*/
  position: relative;
  background-color: rgba(0, 0, 0, 0.0);
  margin: 4vh auto;
  float: center;
  display: block;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.box {
  width: 300px;
  height: 450px;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  float: left;
  text-align: center;
  color: white;
}

.login {
  margin-right: 50px;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  font-family: 'Raleway', sans-serif;
}

.register {
  background-color: rgba(0, 0, 0, 1);
  font-family: 'Raleway', sans-serif;
}


.band {
  background-color: rgba(80, 147, 165, 0.5);
  height: 280px;
  width: 100%;
  top: calc(2vh + 330px);
  position: absolute;
  z-index: -5;
  display: block;
}

.assignments {
  width: auto;
  height: auto;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  float: left;
  text-align: center;
  color: white;
}

.attendance {
  width: auto;
  height: auto;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  float: left;
  text-align: center;
  color: white;
}

.grades {
  width: auto;
  height: auto;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  float: left;
  text-align: center;
  color: white;
}

.announcements {
  width: 600px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  
  text-align: center;
  color: white;
  margin: 4vh auto;
  float: center;
  display: block;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cls-1 {
  fill: rgba(175, 175, 175, 1);
  transition: .3s;
  transition-timing-function: ease-in-out;
  -webkit-transition: .3s;
  -webkit-transition-timing-function: ease-in-out
}

.cls-1:hover {
  fill: #6ec8e6;
  filter: drop-shadow(0px 0px 2px #6ec8e6);
}

.cls-1:active {
  fill: #5093a5;
  filter: drop-shadow(0px 0px 1px #5093a5)
}

.cls-2 {
  fill: #232323;
  pointer-events: none;
}

.cls-5 {
  fill: rgba(175, 175, 175, 1);
}

#modals {
  display: none;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: gray;
  z-index: -1;
  opacity: 0.5;
}
/*#donutnav {
height: 40vh;
	position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -10vh;
  margin-left: -9.75vh;
  shadow: 0 25px 20px -16px rgba(000,000,000,0.4), 0 10px 8px -8px rgba(000,000,000,0.5);
}*/

.cls-3 {
  fill: #323232;
  font-family: OpenSans;
  font-size: .7em;
  pointer-events: none;
}

.cls-4 {
  fill: rgba(175, 175, 175, 1);
  transition: .3s;
  transition-timing-function: ease-in-out;
  -webkit-transition: .3s;
  -webkit-transition-timing-function: ease-in-out
}

.cls-11 {
  fill: #bdbdbd;
  font-family: OpenSans;
  font-size: .69em;
}


/* JF  The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-registration {
  background-color: #3F3F54;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

table {
    margin: 10px;
}
th, td {
    padding: 5px;
    border: 1px solid #999;
}
th {
    background: #ccc;
}
